go 1.19

use (
	./01_introduction/ex01_01
	./01_introduction/ex01_02
	./02_syntax/ex02_01
	./02_syntax/ex02_02
	./02_syntax/ex02_03
	./02_syntax/ex02_04
	./03_basic_types/ex03_01
	./03_basic_types/ex03_02
	./03_basic_types/ex03_03
	./04_aggregate_types/ex04_01
	./04_aggregate_types/ex04_02
	./04_aggregate_types/ex04_03
	./04_aggregate_types/ex04_04
	./04_aggregate_types/ex04_05
	./04_aggregate_types/ex04_06
	./05_reference_types/ex05_01
	./05_reference_types/ex05_02
	./05_reference_types/ex05_03
	./05_reference_types/ex05_04
	./05_reference_types/ex05_05
	./06_functions/ex06_01
	./06_functions/ex06_02
	./06_functions/ex06_03
	./06_functions/ex06_04
	./07_methods/ex07_01
	./07_methods/ex07_02
	./07_methods/ex07_03
	./07_methods/ex07_04
	./07_methods/ex07_05
	./08_interface/ex08_01
	./08_interface/ex08_02
	./08_interface/ex08_03
	./08_interface/ex08_04
	./09_go_and_oop/visible
	./10_defer_and_error_handling/ex10_01
	./10_defer_and_error_handling/ex10_02
	./10_defer_and_error_handling/ex10_03
	./10_defer_and_error_handling/ex10_04
	./10_defer_and_error_handling/ex10_05
	./10_defer_and_error_handling/ex10_06
	./11_goroutine/ex11_01
	./11_goroutine/ex11_02
	./11_goroutine/ex11_03
	./11_goroutine/ex11_04
	./11_goroutine/ex11_05
	./11_goroutine/ex11_06
	./11_goroutine/ex11_07
	./12_channel/ex12_01
	./12_channel/ex12_02
	./12_channel/ex12_03
	./12_channel/ex12_04
	./12_channel/ex12_05
	./12_channel/ex12_06
	./12_channel/ex12_07
	./12_channel/ex12_08
	./13_context/ex13_01
	./13_context/ex13_02
	./13_context/ex13_03
	./14_testing/mytest
	./14_testing/util
	./15_flag_cobra_viper/ex15_01
	./15_flag_cobra_viper/ex15_02
	./15_flag_cobra_viper/ex15_03
	./15_flag_cobra_viper/ex15_04
	./16_mysql/ex16
	./17_web/web
	./18_restful/restful
	./19_grpc/grpc_test
	./20_reflect/ex20_01
	./20_reflect/ex20_02
	./20_reflect/ex20_03
	./20_reflect/ex20_04
	./20_reflect/how_to_01
	./20_reflect/how_to_02
	./20_reflect/how_to_03
	./20_reflect/how_to_04
	./20_reflect/how_to_05
	./21_cgo/cxx_test
	./21_cgo/ex21_01
	./21_cgo/ex21_02
	./21_cgo/ex21_03
	./21_cgo/ex21_04
	./21_cgo/ex21_05
	./21_cgo/ex21_06
	./21_cgo/ex21_07
	./21_cgo/ex21_08
	./21_cgo/ex21_09
	./21_cgo/static_link/mygo
	./21_cgo/swig_test
)
